API_ID=7748761 API_HASH=a227bf7118fffbb3f0b9a87963b754f7 BOT_TOKEN=2107079102:AAG99fdUnEuMC1zYzqrVMZK3Y_l2k4DidMY
DURATION_LIMIT=200
MONGO_DB_URI=mongodb+srv://filterghounz21:ghoundz34@cluster0.ycmfi.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID=-1001562147008 MUSIC_BOT_NAME=Bagaskara Robot 
OWNER_ID=1820233416 851754691
AUTO_LEAVING_ASSISTANT=True
SPOTIFY_CLIENT_ID=ff36a443b59a45ff95b708db5b14b2b5
SPOTIFY_CLINET_SECRET=51e0cc2a3a7f4607b6957cc21e52a324
STRING_SESSION=BQAhbaegoPP85m2PAF-DBWRUxIEJjdtnN489LoER95A2mCnWfsxtXcaO_oftabHUzjcVE5UxQAbtjKadNVzCV5uBFujZvvuUTIwz7H2UevSnoKKibzUH_TOQOtRfoU4lt7cmrCTaS5-nbdRC8tSOU622HjyELhbhcM8oLlT1zu7qhm5h3VW69aKGnAFeqP-DldaGlEcf2vy8fB-q5zBdQ9Xv2Bmg6ZY_mh--3dwRcvdU2EWOBoC-DcrWLWfDkTad51Z_MNhL9x3DLKCqNQtVIDfUX_FinkeD_9W7WJsqepfHrbfxbvQ4UZETQcnpGMvVAxzWqxUCRg4HOzFfxkovJJ9ydoWD_gA
STRING_SESSION2=BQANJP6YQuxeDg6ry8swpUlPqxxdoy6JphMfmZSCTomNd80MuEQL1fYBqRczueNiYLZiE3qj-kkla20gzlSHAD4ThU9k4dT89Dq221bqeixyyZSZYQnCCkQ0j7qm0z_2d6cX7vuyYYFKsFYx9CYdT3ypbVGlGH01157Gb5P2Q8otQ2FFOwnHvhJY0Vdro59e7YeZp7SgzWjVFT8wMIegHEQ_t7XrTnvSzNhS8wCpVu04zjLV4vgfKGaM5oT4CVSoGf21z1BeAWQNDdbYcuq6vysO-Uh4gpj-w2zgQG5nBaEiqWT9N46lpIJauDh0y6gBE_2uWgDWDFolEwQJY_DXy8FdeZExFgA
STRING_SESSION3=BQC0yu-1LumBdCq44lbX2S_RLWe9VcDdi8cRaIoXLWWi-7QPb2KsS2rwgC6tfXAt8n97WYVRgIeLPpBappSRJspoXEpQNXkOVWVvvL0A3-ZLpnpbM_T2pE91RhfI4bPK9U17o8OjtfhcJbKbD9HyVpdLDOI-BxKJZKB5cC24aM7rGj_wqSqeoL4J1vxkyXJYGhkRtexxdxqKyyERmH-yLz8aPZ58w6LWA9aTs-xvJ_IaT6XdbFcxLavXSQ6JUexKFaELf53i7-YNHtbfm3rRVfneAU_3WuEixJZRlOinM_G6DzKLlln0PpCC-Cyg8EPy_XN_8-zgVmon1vOIYE1tAy4pAAAAASsKEWgA
STRING_SESSION4=BQCj2yQEtUGrHyJyraXWa9nY866uCW9MGIueypBdtTE2gI6aqvzVwtfp-BYbgNpBv1WGiT-yPYxRKqNSpWWiUKc-2NtTexmWOQ2vAIGpGabrVg42BbdnLEweGCJrBSL6O2dBT-wKbYHpNTPiTIRZM1LB-tL19ZEN7-XaMtED1xynRjjYFn4j2v4IdEybvp17ELe_DuXzh9XuqQgD_b4xc-Dwoz7VhzjhzzB9dLyrZJldKNmOqJz1BTv53uKN2KRyBi7uwkEy8ZbqSosvfDa6Pz7d4ntyI97P5awmVNNcJ2myhrHXd-qKH7qp5bYK4SAtTrxLpr4T1ObvzasCJRE6WuKWaDaW6wA
STRING_SESSION5=BQBOmNz4bZZvJGN_2-4Aa2QWakcGG-biHBdDcSmcBPf7t7AgnvGa3C2-c_gmyIw7BUcC4vg4y2pqELyfwVhoyFswmywAGhA5F1E-ZfwlBze2OEUdErVDvIMelMmJirvkZFD-5PDUofclWh7shl8BaDApjYl2wgYSzOis_-xoUUCTWGNlJ10raM2GyBOmGT-nbJyCtgOksek257RQ8aG2wzqgTrz4Xm0oZHOLiK4dnFNBdkr9_lWxbzc2vX3wvzBHx5dU8hHGWQmVW39PLUn3ZnYf3sgFrQFvCsEWLzaTv6FqdwR5cJ_SzI7Mb6sZpR9hOLEQDzYHbMB4q5d7BRExiD2EdVvBUwA
TG_VIDEO_FILESIZE_LIMIT=5368709120
UPSTREAM_BRANCH=master
UPSTREAM_REPO=https://github.com/ybgskr12/hayolo
